.navbar{
  display: flex;
  align-items: center;
  height: 4rem;
  background: #2d3436;
}
a{
  text-decoration: none;
}
.navbar h1{
  margin: 0 0 0 2rem;
  color: white;
  text-decoration: none;
}
.navbar ul{
  margin: 0 2rem 0 auto;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul li{
  margin: 0 1rem;
}
.navbar button {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: #3c40c6;
  color: white;
}
@media (max-width: 400px){
  .navbar ul{
    margin: 0 2px 0 auto;
  }
  .navbar button {
    padding: 0.5rem;
  }
  }

@media (max-width: 600px) {
  .navbar h1{
    font-size: 1rem;
  }
.navbar ul li{
  margin: 0 0.5rem;
}
}
